.deck {
    padding: 0 5rem;
}

html {
    background-color: hsl(0, 0%, 96%);
    height: 100%;
}

.card {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    max-width: 10rem;
    width: 10rem;
    height: 14rem;
    margin: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card .top-left {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.card .bottom-right {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transform: rotate(180deg);
}