html {
    background-color: hsl(0, 0%, 90%);
    font-family: monospace;
}

body {
    margin: 0;
}

button,
input[type="submit"] {
    border: none;
    background-color: hsl(0, 0%, 80%);
    outline: 2px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    cursor: pointer;
    padding: .5em 1em;
    font-weight: bold;
}

input {
    border: none;
}

button:hover,
input[type="submit"]:hover {
    background-color: hsl(0, 0%, 80%);
}

button:focus,
input:focus {
    z-index: 1;
    background-color: hsl(0, 0%, 0%) !important;
    color: white;
    outline: none;
}

button::selection,
input::selection {
    background-color: hsla(0, 0%, 100%, 0.40);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: hsl(0, 0%, 100%);
    padding: 0 1em;
    font-size: medium;
    font-weight: bold;
    border-bottom: 2px solid hsl(0, 0%, 0%);
    position: relative;
    height: 4em;
}

header button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    padding: .5em 1em;
    margin: 1em 1px -2px 1px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: 2px solid hsl(0, 0%, 0%);
    outline: none;
}

header button:hover {
    background-color: hsl(0, 0%, 95%);
}

header button.active {
    background-color: hsl(0, 0%, 90%);
    border-bottom-color: hsl(0, 0%, 90%);
    z-index: 1;
}

/* Menu */

.menu {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px !important;
    background: hsl(0, 0%, 100%);
    outline: 2px solid hsl(0, 0%, 0%);
    z-index: 1;
}

.menu button {
    text-align: left;
    border-radius: 0;
    background: hsl(0, 0%, 100%);
    outline: none;
}

.menu>:first-child {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.menu>:last-child {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.card {
    background-color: white;
    border-radius: 5px;
    outline: 2px solid hsl(0, 0%, 0%);
    padding: 1em;
}

.centered {
    max-width: 700px;
    margin: 2em auto;
}

.fill {
    width: 100%;
}

.vertical-space>:not(:last-child) {
    margin-bottom: 1em;
}

.input-group {
    display: flex;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    position: relative;
    background-color: hsl(0, 0%, 80%);
    outline: 2px solid hsl(0, 0%, 0%);
}

.input-group>:last-child {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.input-group>:first-child {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.input-group>label {
    padding: 0 0.5em;
    height: 100%;
    font-weight: bold;
}

.input-group>input {
    border-radius: 0 !important;
    padding: .5em 1em;
    flex: 1;
}

.input-group>input[type="submit"] {
    flex: none;
}

.input-group .menu {
    visibility: hidden;
}

.input-group:focus-within .menu {
    visibility: visible;
}